.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backgroundRed {
  background-color: #ff0000;
}

.backgroundBlue {
  background-color: #0000ff;
}

.chatWindow {
  width: 700px;
  height: 500px;
  margin: 0 auto;
  background-color: #80bfff;
  display: flex;
  color: darkblue;
}

.chatList {
  height: 100%;
  width: 30%;
}

.messageList {
  height: 80%;
}

.columnTwo {
  height: 96%;
  width: 70%;
}

.MuiTextField-root {
  width: 79.5%;
  height: 100%;
}

.myMessage {
  text-align: end;
  margin-right: 15px;
}

.MuiInputBase-formControl {
  height: 100%;
}

.form {
  display: flex;
  height: 15%;
}

.messageCloud {
  background-color: ghostwhite;
}

.chat {
  background-color: greenyellow;
  outline: 1px solid black;
  margin: 3px;
}

.menu {
  display: flex;
}

.menu li {
 list-style: none;
 margin: 0 20px; 
}

.menu li a {
  color: white;
  text-decoration: none;
}
